<%- include('../includes/base.ejs') %>
<link rel="stylesheet" href="/forms.css">
</head>
<%- include('../includes/header.ejs') %>
    <main class="main">
        <form action="/add-product" method="POST" class="form">
            <div class="name_products">
                <input type="text" name="name" placeholder="nameProduct...">
                <input type="number" name="price" placeholder="PriceProduct..">
            </div>
            <div class="submitBtn">
                <button type="submit" >Add product</button>
            </div>
        </form>
    </main>
<%- include('../includes/end.ejs') %>



    
